@import '@/styles/mixins';

.form {
  @include display-column;

  justify-content: center;
}

.forgotCard {
  margin-top: 36px;
  padding: 33px 36px 29px;
}

.title {
  margin-bottom: 51px;
}

.subtitle_1 {
  margin-bottom: 65px;
  color: var(--color-dark-100);
}

.button {
  margin-bottom: 20px;
}

.subtitle_2 {
  color: var(--color-light-900);
}

.errorPlace {
  align-self: flex-start;
  height: 24px;
}

.link {
  text-decoration-line: underline;
}
