@import '@/styles/mixins';

.newPasswordCard {
  margin-top: 36px;
  padding: 33px 36px 60px;
}

.form {
  @include display-column;

  justify-content: center;
}

.title {
  margin-bottom: 51px;
}

.subtitle {
  margin-bottom: 41px;
  color: var(--color-dark-100);
}
