.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 542px;

  &::before {
    content: '';

    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;

    border: 1px solid var(--color-dark-500);
  }
}

.buttonArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.title {
  margin-bottom: 42px;
}

.fileInput {
  margin-bottom: 12px;
}

.checkbox {
  align-self: flex-start;
  margin-bottom: 36px;
}

@media (width <= 600px) {
  .modal {
    width: calc(300px + (542 - 300) * ((100vw - 320px) / (600 - 320)));
  }
}
