@import '/src/styles/mixins';

.inputWrapper {
  width: 100%;
}

.defaultInputWithoutIcon {
  position: relative;
  color: var(--color-light-100);
}

.inputIcon {
  position: relative;
  color: var(--color-light-100);
}

.label {
  @include label;
}

.input {
  @include size(100%, 36px);

  color: var(--color-light-100);
  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.input:hover {
  color: var(--color-dark-100);
  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
}

.input:focus {
  border: 1px solid var(--color-info-700);
  outline: none;
}

.input:disabled {
  cursor: not-allowed;
  background-color: transparent;
  border-color: var(--color-dark-300);
}

.inputIcon .input {
  padding-left: 30px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}

.rightSideIcon {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}

.error {
  color: var(--color-danger-300);
}

.errorPlace {
  height: 24px;
}

.errorInput {
  color: var(--color-danger-300);
  background-color: transparent;
  border: 1px solid var(--color-danger-300);
  border-radius: 2px;
}
